@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: #050505;
  color: white;
}

:root {
  --font-space: "Space Grotesk", sans-serif;
  --font-figtree: "Figtree", sans-serif;
}